<!--$Id$-->
<!--##begin-->

<div class="col-md-12 ewebuki-form">
    <h1>Gruppen-Editor - Eigenschaften</h1>

    <table class="table">
        <tr>
            <td>#(group)</td>
            <td>!#ausgaben_level</td>
        </tr
        <tr>
            <td>#(beschreibung)</td>
            <td>!#ausgaben_beschreibung</td>
        </tr>
        <!--##hide-members-->
        <tr>
            <td>#(user)</td>
            <td>!#ausgaben_members</td>
        </tr>
        <!--##show-->
    </table>

    <p>
        <a href="!#ausgaben_link_edit" class="btn btn-default"><span class="fa fa-pencil"></span> bearbeiten</a>
        <a href="!#ausgaben_link_list" class="btn btn-link">zur&uuml;ck</a>
    </p>


</div>



<!--##end-->
