<!--##begin-->
<div class="col-md-12">
    <h1>Datei-Editor - L&ouml;schen</h1>

    <div class="panel panel-default">
        <ul class="list-group">
            <!--##loop-list-->
            <li class="list-group-item">
                <a href="!{link}" title="!{item}">!{item}</a>&nbsp;!{reason}
            </li>
            <!--##cont-->
            <li class="list-group-item">
                <input type="hidden" name="form_referer" value="!#ausgaben_form_referer" class="hidden" />
                <input type="submit" name="send[]" value="g(send)" class="btn btn-warning">
                <input type="button" name="abort" value="g(abort)" onclick="location='!#ausgaben_form_break'" class="btn btn-link">
                <div class="clearer">&nbsp;</div>
            </li>
        </ul>
    </div>

</div>
<!--##end-->
