<!--##begin-->
<div class="col-md-9 col-xs-12 pull-right content-wrap">
    #(inhalt)
    <!--##loop-list-->
    <article>
        <header class="article-title">
            <h2><a href="!{detaillink}">!{titel_org}</a></h2>
            <p class="meta">!{datum}</p>
        </header>
        <div class="article-teaser">
            <p>!{teaser_org}</p>
            <p><a href="!{detaillink}" title="zum Artikel springen">&raquo;mehr</a></p>
        </div>
    </article>
    <!--##cont-->

    <nav aria-label="Page navigation">
        <ul class="pagination">
            <!--##loop-selektor-->
            <li class="!{class}">
                !{value}
            </li>
            <!--##cont-->
        </ul>
    </nav>

</div>

<div class="col-md-3 col-xs-12">
    <!--<div class="box">-->
        <!--<h3><a href="!#pathvars_virtual/aktuell.html">Archiv</a></h3>-->
        <div class="panel panel-default vvb-navigation">
            <div class="panel-heading"><a href="!#pathvars_virtual/aktuell.html">Archiv</a></div>
            <ul class="list-group">
                <!--##loop-archiv_menu-->
                <li class="list-group-item !{class}" style="!{style}"><a href="!{link}">!{label}</a></li>
                <!--##cont-->
                <!--##loop-level2-->
                <li class="list-group-item !{class}"><a href="!{link}">!{item}</a></li>
                <!--##cont-->
            </ul>
        </div>
    <!--</div>-->
</div>
<!--##end-->

<!--                <div class="grid_9">
                    #(inhalt)
                </div>-->
<div class="grid_2">
    <div class="sub_menu box border-all">
        <h3><a href="!#pathvars_virtual/aktuell.html">Archiv</a></h3>
        <ul>
            <!--##loop-archiv_menu-->
            <li style="!{style}"><a href="!{link}">!{label}</a></li>
            <!--##cont-->
        </ul>
    </div>
</div>
<div class="grid_6">
    #(inhalt)
    <!--##hide-new-->
    <form action="/auth/admin/bloged/add.html" method="post">
        <input type="submit" value="g(new)" name="blog"/>
        <input type="hidden" name="link" value="!{link}"/>
        <input type="hidden" name="kategorie" value="!{kategorie}"/>
    </form>
    <!--##show-->

    <!--##loop-list-->
    <article>
        <header class="headin1g">
            <h3><span class="meta">!{datum}:</span> <a href="!{detaillink}">!{titel_org}</a></h3>

        </header>
        <div class="">
            <p>!{teaser_org}&nbsp;&nbsp;<a href="!{detaillink}">&raquo;mehr</a></p>
        </div>
        <div class="clear"></div>
    </article>
    <!--##cont-->

    <div class="selektor-trigger">!#ausgaben_inhalt_selector</div>

</div>

