<!--##begin-->

<div class="col-md-8 col-xs-12">
    <article class="meldung">
        #(inhalt)
    </article>
</div>

<div class="col-md-4 col-xs-12">
    <div class="panel panel-default vvb-navigation">
        <ul class="list-group">
            <li class="list-group-item">
                <a onclick="window.print();" href="#"><i class="fa fa-print"></i> Drucken</a>
            </li>
            <li class="list-group-item">
                <a href="mailto:?subject=Linkempfehlung&body=!#pathvars_webroot!#pathvars_requested"><i class="fa fa-envelope"></i> Empfehlen</a>
            </li>
            <!--##hide-changed-->
            <li class="list-group-item">
                erstellt: !{changed}
            </li>
            <!--##show-->
        </ul>
    </div>
</div>

<!--##end-->