<!--##begin-->


<div class="col-md-8 col-xs-12">
    #(inhalt)

    <!--##loop-news-->
    <article>
        <header class="article-title">
            <h2><a href="!{detail}">!{titel}</a></h2>
            <p class="meta">!{datum}</p>
        </header>
        <div class="col-md-4 article-img">
            <a href="!{detail}" title="zum Artikel springen"><img src="!{img_src}" alt="!{img_under}" class="ui-corner-all" /></a>
        </div>
        <div class="col-md-8 article-teaser">
            <p>!{teaser}</p>
            <p><a href="!{detail}" title="zum Artikel springen">&raquo;mehr</a></p>
        </div>
    </article>
    <!--##cont-->

    <p class="pull-right">
        <a href="!#pathvars_virtual/aktuell.html" class="btn btn-default">mehr Neuigkeiten im Archiv</a>
    </p>

</div>

<div class="col-md-4 col-xs-12">

    <!--##hide-submenu-->
    <div class="box">
        <h3>Unterpunkte</h3>
        <h4>!#ausgaben_pagetitle</h4>
        <ul>
            <!--##loop-level2-->
            <li class="!{class}"><a href="!{link}">!{item}</a></li>
            <!--##cont-->
        </ul>
    </div>
    <!--##show-->
    #(margin)
    #{margin}
</div>

<!--##end-->