<!--##begin-->
<!--##hide-authLogout-->
<div class="col-md-4 pull-right">
    <form class="form-horizontal " method="post" action="!#ausgaben_auth_url">
        <div class="panel panel-default">
            <div class="panel-heading"><a href="!#pathvars_virtual/aktuell.html">Archiv</a></div>
            <ul class="list-group">
                <!--##loop-authInPlace-->
                <li class="list-group-item !{class}" style="!{style}">
                    <a href="!{link}">!{desc}</a>
                </li>
                <!--##cont-->
                <!--##loop-authTools-->
                <li class="list-group-item !{class}" style="!{style}">
                    <a href="!{url}" title="!{title}">!{label}!{end}</a>
                </li>
                <!--##cont-->
                <li class="list-group-item !{class}" style="!{style}">
                    <button type="submit" class="btn btn-warning btn-block btn-sm" name="logout" value="logout">Abmelden</button>
                </li>
            </ul>
        </div>
    </form>
</div>
<!--##show-->
<!--##end-->