<!--##begin-->
<!--##hide-authLogin-->
<div class="col-md-8 col-xs-12">
    <form class="form-horizontal " method="post" action="!#ausgaben_auth_url">
        <div class="form-group">
            <label for="user" class="col-sm-3 control-label">Benutzername</label>
            <div class="col-sm-9">
                <input type="text" name="user" id="user" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label for="pass" class="col-sm-3 control-label">Passwort</label>
            <div class="col-sm-9">
                <input type="password" name="pass" id="user" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btn-default" name="login" value="login">g(send)</button>
                <input type="hidden" name="form_referer" value="!#ausgaben_form_referer" />
            </div>
        </div>
    </form>
</div>
<!--##show-->
<!--##end-->