<!--##begin-->
<div class="col-md-12">
    #(inhalt)
    <p class="pull-right clearfix">
        <!--##hide-version_prev-->
        <a href="!{link_first}" class="btn btn-default">
            <i class="fa fa-fast-backward" aria-hidden="true"></i>
        </a>
        <a href="!{link_prev}" class="btn btn-default">
            <i class="fa fa-backward" aria-hidden="true"></i>
        </a>
        <!--##show-->
        g(version) !#ausgaben_vaktuell g(of) !#ausgaben_vgesamt
        <!--##hide-version_next-->
        <a href="!{link_next}" class="btn btn-default">
            <i class="fa fa-forward" aria-hidden="true"></i>
        </a>
        <a href="!{link_last}" class="btn btn-default">
            <i class="fa fa-fast-forward" aria-hidden="true"></i>
        </a>
        <!--##show-->
    <p>
</div>


<div id="wizard" class="col-md-9">
    <!--##hide-no_sort_content-->
    <div style="padding: 10px;" class="bg-info" id="no_sort_content">#(show_none)</div>
    <!--##show-->
    <!--##hide-show_one_content-->
    <div style="padding: 10px;" class="bg-info" id="no_sort_content">#(show_one)</div>
    <!--##show-->

    <!--##hide-sort_content-->
    <div class="content-wrap">
        <!--##loop-sort_content-->
        <div class="panel panel-default !{class}" id="item_!{key}">
            <div class="panel-body">
                !{value_html}
            </div>
            <div class="panel-footer">
                <div class="buttons" !{modify}>
                    <a href="!{link_up}" class="btn btn-default btn-xs" title="#(wiz_moveup_desc)" style="!{display_up}">#(wiz_moveup)</a>
                    <a href="!{link_down}" class="btn btn-default btn-xs" title="#(wiz_movedown_desc)" style="!{display_down}">#(wiz_movedown)</a>
                    <a href="!{delete}" class="btn btn-default btn-xs" title="#(wiz_delete_desc)" style="!{display_delete}">#(wiz_delete)</a>
                </div>
            </div>
        </div>
        <!--##cont-->
    </div>




    <ul id="content_blocks" style="padding: 0;">
        <!--##loop-sort_con1tent-->
        <li id="item_!{key}" class="!{class}" style="!{style}">
            <!--                 <a name="item_!{key}" href="#" style="float:right;">nach oben</a> -->
            <div class="clearer"></div>
            !{value_html}
            <div class="clearer"></div>
            <p class="buttons" !{modify}>
                <a href="!{link_up}" class="btn btn-default btn-xs" title="#(wiz_moveup_desc)" style="!{display_up}">#(wiz_moveup)</a>
                <a href="!{link_down}" class="btn btn-default btn-xs" title="#(wiz_movedown_desc)" style="!{display_down}">#(wiz_movedown)</a>
                <a href="!{delete}" class="btn btn-default btn-xs" title="#(wiz_delete_desc)" style="!{display_delete}">#(wiz_delete)</a>
            </p>
            <div class="clearer"></div>
        </li>
        <!--##cont-->
    </ul>
    <!--##show-->
</div>

<div class="col-md-3">
    <div class="panel panel-default">
        <!--<div class="panel-heading">#(add_block)-</div>-->
        <ul class="list-group">
            <!--##loop-add_buttons-->
            <li class="list-group-item"><a href="!{link}" class="btn btn-default btn-xs btn-block" title="!{item}">!{item}</a></li>
            <!--##cont-->
        </ul>
    </div>

    <!--##hide-default-->
    <div class="panel panel-default">
        <form method="post" action="!#ausgaben_form_aktion">
            <ul class="list-group">
                <li class="list-group-item">
                    <button type="button" onclick="preview();" id="button_preview" class="btn btn-default btn-block btn-xs">g(preview)</button>
                </li>
                <li class="list-group-item">
                    <button type="submit" name="version[]" value="version" class="btn btn-default btn-block btn-xs">g(save)</button>
                </li>
                <li class="list-group-item">
                    <button type="button" onclick="lb_cancel.show();" class="btn btn-default btn-block btn-xs">g(abort)</button>
                </li>
                <li class="list-group-item">
                    #(confirm_cancel)
                    <button type="submit" name="cancel[]" value="cancel" class="btn btn-default btn-block btn-xs">g(yes)</button>
                    <button type="button" onclick="lb_cancel.hide();;" class="btn btn-default btn-block btn-xs">g(no)</button>
                </li>
            </ul>
        </form>
    </div>
    <!--##show-->

    <!--##hide-edit-->
    <div class="panel panel-default">
        <form method="post" action="!#ausgaben_form_aktion">
            <ul class="list-group">
                <li class="list-group-item">
                    <button type="button" onclick="preview();" id="button_preview" class="btn btn-default btn-block btn-xs">g(preview)</button>
                </li>
                <li class="list-group-item">
                    <button type="submit" name="version[]" value="version" class="btn btn-default btn-block btn-xs">g(save)</button>
                </li>
                <li class="list-group-item">
                    <button type="button" onclick="lb_cancel.show();" class="btn btn-default btn-block btn-xs">g(abort)</button>
                </li>
                <li class="list-group-item">
                    <button type="button" class="btn btn-default btn-block btn-xs" data-toggle="modal" data-target="#modal-confirm-cancel">g(abort)</button>
                </li>
            </ul>
        </form>
    </div>
    <div class="panel panel-default">
        <form method="post" action="!#ausgaben_form_aktion">
            <ul class="list-group">
                <li class="list-group-item">
                    <button type="button" onclick="lb_release.show();" id="button_preview" class="btn btn-default btn-block btn-xs">#(ask_release)</button>
                </li>
                <li class="list-group-item">
                    #(confirm_release)
                    <button type="submit" name="version[]" value="version" class="btn btn-default btn-block btn-xs">g(yes)</button>
                    <button type="button" onclick="lb_release.hide();;" class="btn btn-default btn-block btn-xs">g(no)</button>
                    <input type="hidden" name="release_mark" value="-1" />
                </li>
            </ul>
        </form>
    </div>
    <!--##show-->

    <!--##hide-publish-->
    <div class="panel panel-default">
        <form method="post" name="form_sent" action="!#ausgaben_form_aktion">
            <ul class="list-group">
                <li class="list-group-item">
                    <!--<button type="button" onclick="preview();" id="button_preview" class="btn btn-default btn-block btn-xs">g(preview)</button>-->
                    <button type="button" class="btn btn-default btn-block btn-xs" data-toggle="modal" data-target="#modal-preview">g(preview)</button>
                </li>
                <li class="list-group-item">
                    <button type="submit" name="version[]" value="version" class="btn btn-default btn-block btn-xs">g(save)</button>
                </li>
                <li class="list-group-item">
                    <button type="button" class="btn btn-default btn-block btn-xs" data-toggle="modal" data-target="#modal-confirm-cancel">g(abort)</button>
                </li>
            </ul>
        </form>
    </div>
    <!--##show-->

    <!--##hide-blocked-->
    <div class="panel panel-default">
        <form method="post" name="form_sent" action="!#ausgaben_form_aktion">
            <ul class="list-group">
                <li class="list-group-item">
                    #(blocked)
                </li>
                <li class="list-group-item">
                    <button type="submit" name="version[]" value="version" class="btn btn-default btn-block btn-xs">g(save)</button>
                </li>
                <li class="list-group-item">
                    <button type="button" class="btn btn-default btn-block btn-xs" data-toggle="modal" data-target="#modal-confirm-cancel">g(abort)</button>
                </li>
            </ul>
        </form>
    </div>
    <!--##show-->
</div>


<div id="modal-confirm-cancel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-confirm-cancel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Bearbeitung abbrechen</h4>
            </div>
            <div class="modal-body">
                <p>Nicht gespeicherte &Auml;nderungen gehen unwiederbringlich verloren.</p>
                <p>Wirklich abbrechen?</p>
            </div>
            <div class="modal-footer">
                <form method="post" id="form_sent" name="form_sent" action="!#ausgaben_form_aktion">
                    <button type="button" class="btn btn-link pull-right" data-dismiss="modal">zur&uuml;ck</button>
                    <button type="submit" name="cancel[]" class="btn btn-primary pull-left">Bearbeitung abbrechen</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="modal-preview" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-preview">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Vorschau</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <form method="post" id="form_sent" name="form_sent" action="!#ausgaben_form_aktion">
                    <button type="button" class="btn btn-link pull-right" data-dismiss="modal">zur&uuml;ck</button>
                </form>
            </div>
        </div>
    </div>
</div>

!#ausgaben_output
!#ausgaben_inaccessible

<script type="text/javascript">
    // <!--##hide-sort_content-->
    jQuery('#content_blocks').sortable({
        axis: 'y',
        items: '.ajax_move',
        update: function(event, ui) {
            jQuery.ajax({
                url: '!#ausgaben_ajax_request?' + jQuery('#content_blocks').sortable('serialize',{'key':'content_blocks[]'}),
                complete: function(data) {
                    jQuery('#content_blocks').effect('highlight');
                    location.reload(true);
                }
            });
        }
    });
    jQuery('.content-wrap').sortable({
        axis: 'y',
        items: '.ajax_move',
        items: "> div",
        update: function(event, ui) {
            jQuery.ajax({
                url: '!#ausgaben_ajax_request?' + jQuery('.content-wrap').sortable('serialize',{'key':'content_blocks[]'}),
                complete: function(data) {
                    jQuery('.content-wrap').effect('highlight');
                    location.reload(true);
                }
            });
        }
    });
    // <!--##show-->

    // <!--##hide-ajax_scroll-->
    jQuery(document).ready(function(){
        var position = jQuery('#!{section}').offset();
        jQuery(window).scrollTop(position.top);
        jQuery('#!{section}').effect('pulsate')
    })
    // <!--##show-->

    jQuery('#modal-preview').on('show.bs.modal', function (e) {
        jQuery('#modal-preview .modal-body').load(
            '!#ausgaben_form_aktion',
            {
                'ajax': 'on',
                'save': 'on'
            }
        )
    })


</script>
<!--##end-->