<!--$Id$-->
<!--##begin-->



<!--##hide-authLogin-->
<div class="">
    <p>!{message}</p>
    <form method="post" action="!#ausgaben_auth_url">
        <div class="grid_5 prefix_1">
            <div class="box border-all ui-corner-all">
                <h3>#(ueberschrift)</h3>
                <div class="space-lr">
                    <input type="hidden" name="form_referer" value="!#ausgaben_form_referer" />
                    <p>
                        <label for="user" style="width:100%;">Benutzername</label>
                        <input type="text" name="user" id="user" style="width:100%;" style="" />
                    </p>
                    <p>
                        <label for="pass" style="width:100%;">Passwort</label>
                        <input type="password" name="pass" id="pass" style="width:100%;" style="" />
                    </p>
                    <p>
                        <label class="grid_1">&nbsp;</label>
                        <input type="submit" name="login" style="width:100%;" value="login" />
                    </p>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        </form>
</div>
<!--##show-->

<!--##hide-authLogout-->
<div class="">
    <p>!{message}</p>
    <form method="post" action="!#ausgaben_auth_url">
        <div class="box border-all ui-corner-all">
            <div class="space-lr">
                <p>
                    <input type="submit" name="logout" value="logout" style="width:100%;" />
                </p>
<!--##show-->

                <!--##loop-authInPlace-->
                <a href="!{link}">!{desc}</a><br />
                <!--##cont-->
                <br />

                <!--##hide-authTools-->
                <p>#(desc)<br />
                <!--##loop-authTools-->
                <a href="!{url}" title="!{title}">!{label}!{end}</a>
                <!--##cont-->
                </p>
                <!--##show-->

<!--##hide-authLogout-->
            </div>
            <div class="clear"></div>
        </div>
        </form>
</div>
<!--##show-->



<!--##end-->