<!--##begin-->
<!DOCTYPE html>
<html>
    <head>
        <meta name="author" content="Matthias Krompass" />
        <meta http-equiv="content-type" content="text/html;charset=iso-8859-15" />
        <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css' />
        <!--<link rel="stylesheet" href="http://grids.heroku.com/grid.css?column_width=90&column_amount=9&gutter_width=16" type="text/css" />-->
        <link rel="stylesheet" href="../../css/vvb/grid.css" type="text/css" />
        <link rel="stylesheet" href="../../css/vvb/screen.css" type="text/css" />
        <link rel="stylesheet" href="../../css/vvb/jquery-ui.css" type="text/css" />
        <link rel="stylesheet" href="../../css/vvb/slimbox2.css" type="text/css" />
        <title>!#specialvars_pagetitle</title>
        <script src="../../js/vvb/jquery.js" type="text/javascript"></script>
        <script src="../../js/vvb/jquery-ui.js" type="text/javascript"></script>
        <!--<script type="text/javascript">jQuery.noConflict();</script>-->
        <script src="../../js/vvb/slimbox2.js" type="text/javascript"></script>
        <!--##hide-wizard-->
        <link rel="stylesheet" href="../../css/vvb/wizard.css" type="text/css" />
        <script src="../../js/vvb/little_helpers.js" type="text/javascript"></script>
        <!--##show-->
        <!--##hide-eed-->
        <link rel="stylesheet" href="../../css/vvb/eed.css" type="text/css" />
        <!--<script src="../../js/default/prototype.js" type="text/javascript"></script>-->
        <!--<script src="../../js/default/scriptaculous.js?load=effects,controls,dragdrop,builder" type="text/javascript"></script>-->
        <!--##show-->
        <!--##hide-eed-->
        <script type="text/javascript">$.noConflict();</script>
        <!--##show-->
        <meta name="google-site-verification" content="vgJ31gHuqGHqsMluM75hi2C06Q-GoAuEKzfR4kbKQ7c" />
    </head>
    <body>

        <div id="sheet" class="container_9">

            <div id="head">
                <div class="grid_7">
                    <img src="/images/vvb/vvb_logo_01.jpg" style="float:left;margin-right: 20px;" />
                    <h1>Verband des <br />Vermessungsdienstes in Bayern<span class="icon icon-wrench"></span></h1>
                </div>
                <div class="grid_2">
                    <ul>
                        <li><a href="!#pathvars_menuroot/index.html">Startseite</a></li>
                        <li><a href="!#pathvars_menuroot/kontakt.html">Kontakt</a></li>
                        <li><a href="!#pathvars_menuroot/impressum.html">Impressum</a></li>
                    </ul>
                </div>

                <div id="navigation" class="">
                    !#ausgaben_menu
                </div>

                <div class="clear"></div>
            </div>



            <div id="cont">
                #{main}
                <div class="clear"></div>
            </div>

            <div class="clear"></div>


            <div class="clear"></div>
        </div>

    </body>
</html>
<!--##end-->
