<!--##begin-->
                <div class="grid_2">
                    <!--##hide-submenu-->
                    <div class="sub_menu border-all">
                        <ul>
                            <!--##loop-level2-->
                            <li class="!{class}"><a href="!{link}">!{item}</a></li>
                            <!--##cont-->
                        </ul>
                    </div>
                    <!--##show-->
                    #(margin)
                </div>

                <div class="grid_6">
                    #(inhalt)

                </div>

<!--##end-->
