<html>
<head>
<!--$Id: kontakt-email1.tem.html 15 2011-12-13 09:08:42Z krom $-->
<title>kontakt-email1 (mail an betreiber)</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
<pre>Achtung Plain Text eMail, kein HTML verwenden!
<!--##begin-->
Anfrage über die VVB-Internetseite

Betreff: !{betreff}
--------
Name:   !{name}
Telefon:   !{telefon}
eMail Adresse:   !{e-mail}
zuletzt besuchte Seite:   !{last_viewed}

Mitteilung:
-----------
!{mitteilung}

mfg
VVB Mail Robot
<!--##end-->
</pre>
</body>
</html>