<html>
<head>
<!--$Id$-->
<title>kontakt-email2 (kopie an kunden)</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
<pre>Achtung Plain Text eMail, kein HTML verwenden!
<!--##begin-->
Sehr geehrte Kundin, sehr geehrter Kunde,

vielen Dank für Ihre Anfage.
Wir werden uns in Kürze über E-Mail oder telefonisch mit Ihnen
in Verbindung setzen.

Folgende Angaben sind bei uns eingetroffen:

Betreff: !{betreff}
--------
Name:   !{name}
Telefon:   !{telefon}
eMail Adresse:   !{e-mail}
zuletzt besuchte Seite:   !{last_viewed}

Mitteilung:
-----------
!{mitteilung}

Mit freundlichen Grüßen

Ihr VVB


Hinweis: Dieses E-Mail wurde automatisch erstellt.
<!--##end-->
</pre>
</body>
</html>