<!--##begin-->
                <div class="grid_8">
                    <h1>Mitglieder-Import</h1>
                    
                    <!--##hide-right_import-->
                    <p style="text-align: right;">
                          <a href="!#ausgaben_cfg_basis/list.html">Liste</a>
                        | <b>Import</b>
                        | <a href="!#ausgaben_cfg_basis/import-log.html">Import-Log</a>
                    </p>
                    <!--##show-->
                    
                    #(inhalt)
                    
                    <!--##hide-error-->
                    <p class="error">!{text}</p>
                    <!--##show-->
                    
                    <form enctype="multipart/form-data" method="POST">
                    
                        <!--##hide-success-->
                        <fieldset>
                            <h3>Import erfolgreich!</h3>
                            <p>
                                Es wurden !{count} Datens&auml;tze importiert.
                            </p>
                        </fieldset>
                        <!--##show-->
                    
                        <fieldset>
                            <legend>Mitgliedsdaten importieren</legend>
                            <p>
                                <label class="grid_2">CSV-Datei</label>
                                <input type="file" name="cvs" />
                            </p>
                        </fieldset>
                        
                        <div class="box">
                            <button type="submit" name="send[]" value="Abschicken" class="button">Abschicken</button>
                        </div>
                    </form>

                </div>

<!--##end-->
