.ewebuki-form {
    form {
        input, textarea {
            @extend .form-control;
        }
    }
}

.menu-editor {
    ul {
        list-style: none;
        padding: 0;
        margin: 20px 0;
        li {
            padding: 5px;
            border-bottom: 1px solid #ddd;
            &:hover {
                background: #f5f5f5;
            }
            a.red {
                @extend .text-danger;
            }
        }
    }
    .form-group {
        input[type="text"], select {
            @extend .form-control;
        }
    }
}

.datei-editor {
    a.pic {
        width: 65px;
        height: 65px;
        display: block;
        text-align: center;
        img {
            max-height:100%;
            max-width:100%;
        }
    }
    .media-action {
        a {
            @extend .btn;
            @extend .btn-default;
            @extend .btn-xs;
        }
    }
}