
.footer {
    background: $vvb-blue;
    padding: 5px 15px;
    a {
        color: #666;
        display: inline-block;
        text-decoration: none;
        padding: 0 5px;
        text-shadow: 0 1px 0 #FFFEFF;
        display: inline-block;
        &:hover {
            text-decoration: underline;
        }
    }
}