
.header {
    //padding: 10px;
    background: url(/images/vvb/bg_body_kachel.gif) left bottom #F2F9FC;
    padding: 12px 0;
    border-bottom: 1px solid #B8B7AA;

    .header-logo {
        float: left;
        margin-right: 15px;
    }

    .header-title {
        padding: 20px 0 0;
        margin: 0;
        color: #232323;
        font-family: 'PT Sans',sans;
        font-size: 24px;
        line-height: 36px;
        font-weight: bold;
        border: 0;
        a {
            color: #232323;
            &:hover {
                text-decoration: none;
            }
        }
    }

    .header-nav {
        text-align: right;
        ul {
            list-style: none;
            padding-top: 15px;
            a {
                color: #666;
                text-decoration: none;
                text-shadow: 0 1px 0 #FFFEFF;
                display: inline-block;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
