<!--##begin-->
                <div class="grid_2">
                    <!--##hide-submenu-->
                    <div class="sub_menu border-all">
                        <ul>
                            <!--##loop-level2-->
                            <li class="!{class}"><a href="!{link}">!{item}</a></li>
                            <!--##cont-->
                        </ul>
                    </div>
                    <!--##show-->
                    #(margin)
                    #{margin}
                </div>

                <div class="grid_8">
                    #(inhalt)
                    
                    <form enctype="multipart/form-data" method="POST" style="display: none;">
                        <fieldset>
                            <legend>Mitgliedsdaten importieren</legend>
                            <p>
                                <label class="grid_2">CSV-Datei</label>
                                <input type="file" name="cvs" />
                            </p>
                            <p>
                                <label class="grid_2">Trennzeichen</label>
                                <select name="field_separator" style="width: 50px;">
                                    <!--##loop-field_separator-->
                                    <option value="!{label}"!{sel}>!{label}</option>
                                    <!--##cont-->
                                </select>
                            </p>
                            <p>
                                <label class="grid_2">Texttrenner</label>
                                <select name="text_separator" style="width: 50px;">
                                    <!--##loop-text_separator-->
                                    <option value="!{label}"!{sel}>!{label}</option>
                                    <!--##cont-->
                                </select>
                            </p>
                        </fieldset>
                        
                        <div class="box">
                            <button type="submit" name="send[]" value="Abschicken" class="button">Abschicken</button>
                        </div>
                    </form>
                    
                    <table>
                        <thead>
                            <tr>
                                <th style="width: 30px;">Nr</th>
                                <th>Nachname</th>
                                <th>Vorname</th>
                                <th>Eingruppierung</th>
                                <th>Bezirk</th>
                                <th>VA</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!--##loop-list-->
                            <tr>
                                <td>!{Mitglieds_Nr}</td>
                                <td>!{Vorname}</td>
                                <td>!{Nachname}</td>
                                <td>!{Eingruppierung}</td>
                                <td>!{Bezirk}</td>
                                <td style="white-space: nowrap;">!{VA_text}</td>
                            </tr>
                            <!--##cont-->
                        </tbody>
                    </table>
                    

                </div>

<!--##end-->
