<!--##begin-->
                <div class="grid_2">
                    <!--##hide-submenu-->
                    <div class="sub_menu border-all">
                        <ul>
                            <!--##loop-level2-->
                            <li class="!{class}"><a href="!{link}">!{item}</a></li>
                            <!--##cont-->
                        </ul>
                    </div>
                    <!--##show-->
                    #(margin)
                    #{margin}
                </div>

                <div class="grid_6">
                    #(inhalt)
                    
                    <!--##hide-error-->
                    <p class="error">!{text}</p>
                    <!--##show-->
                    
                    <form enctype="multipart/form-data" method="POST">
                    
                        <!--##hide-success-->
                        <fieldset>
                            <h3>Import erfolgreich!</h3>
                            <p>
                                Es wurden !{count} Datensätze importiert.
                            </p>
                        </fieldset>
                        <!--##show-->
                    
                        <fieldset>
                            <legend>Mitgliedsdaten importieren</legend>
                            <p>
                                <label class="grid_2">CSV-Datei</label>
                                <input type="file" name="cvs" />
                            </p>
                            <p>
                                <label class="grid_2">Trennzeichen</label>
                                <select name="field_separator" style="width: 50px;">
                                    <!--##loop-field_separator-->
                                    <option value="!{label}"!{sel}>!{label}</option>
                                    <!--##cont-->
                                </select>
                            </p>
                            <p>
                                <label class="grid_2">Texttrenner</label>
                                <select name="text_separator" style="width: 50px;">
                                    <!--##loop-text_separator-->
                                    <option value="!{label}"!{sel}>!{label}</option>
                                    <!--##cont-->
                                </select>
                            </p>
                            <p>
                                <label class="grid_2">Zeichensatz</label>
                                <select name="encoding" style="width: 150px;">
                                    <!--##loop-encoding-->
                                    <option value="!{label}"!{sel}>!{label}</option>
                                    <!--##cont-->
                                </select>
                            </p>
                        </fieldset>
                        
                        <div class="box">
                            <button type="submit" name="send[]" value="Abschicken" class="button">Abschicken</button>
                        </div>
                    </form>

                </div>

<!--##end-->
